body {
    background-image: url("cool-background.png");
    margin: 0px;
}
.about{
    text-align: center;
    color: black;
    font-style: normal;
    font-size: 25px;
    font-family: monospace;
    transition:2s;
}
.about:hover{
    color: gray;
    transform:rotate(-30deg);
}
.Container{
    diaplay: grid;
    grid-template-coloumns: 2fr;
}
.Container {
    display: flex;
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content:space-around;
    align-items: flex-start;
    align-content: center;
  }
.Education h2{
    /*padding-left: 20px;*/
    color:black;
    font-size: 29px;
    font-family: monospace;
    text-transform: uppercase;
}
.Education h3{
    /*padding-left: 20px;*/
    text-align: left;
    font-family: monospace;
    font-size: 20px;
}
.Education h4{
    /*padding-left:15px;*/
    text-align:left ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.It h2{
    padding-top: 8px;
    color:black;
    font-size: 29px;
    font-family: monospace;
    text-transform: uppercase;
}
.It h4{
    color:black;
    font-size: 19px;
    font-family: monospace;
    text-transform: uppercase;
}
.CG h2{
    padding-top: 8px;
    color:black;
    font-size: 29px;
    font-family: monospace;
    text-transform: uppercase;
}
.CG h3{
    text-align: left;
    font-family: monospace;
    font-size: 20px;
}
.PR h2{
    padding-top: 8px;
    color:black;
    font-size: 29px;
    font-family: monospace;
    text-transform: uppercase;
}
